@page "/"

<PageTitle>Home</PageTitle>

<h1>RedTech CyberDen</h1>

Welcome to the CyberDen, your one-stop shop for all things cybersecurity! From videos and articles to interactive labs and challenges.

This is a work in progress, so check back often for new content and updates.

# Stay safe out there, and happy hacking!

<Counter IncrementAmount="10" />
